{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"], // Base directory
        "alias": {
          "@config": "./config",
          "@controller": "./controllers",
          "@model": "./models"
        }
      }
    ]
  ]
}
